/* Mengatur margin, padding, dan box-sizing pada semua elemen */

/*style untuk h1*/
h1{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*style untuk h2*/
.sub-product h2{
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Mengatur tampilan elemen dengan kelas commers dan study, sebagai flexbox, dan mengatur tampilan di tengah */
.commers, .study {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Mengatur tampilan elemen dengan kelas product-box */
.product-box {
    position: relative; /* Mengatur posisi elemen relatif */
    margin-right: 10px; /* Memberikan jarak kanan pada elemen */
    text-align: center; /* Mengatur tampilan teks pada elemen */
}

/* Mengatur ukuran gambar dalam elemen product-box */
.product-box img {
    width: 350px;
    height: 250px;
    transition: .3s ease; /* Mengatur efek transisi pada elemen */
}

/* Mengatur efek transisi pada gambar saat dihover */
.product-box:hover img {
    opacity: .7; /* Mengatur ke darkness pada gambar */
}

/* Mengatur tampilan elemen dengan kelas product-layer saat dihover */
.product-box:hover .product-layer {
    opacity: 1; /* Mengatur ke transparansi pada elemen */
    visibility: visible; /* Mengatur ke tampilan elemen */
}

/* Mengatur tampilan elemen dengan kelas product-layer */
.product-layer {
    position: absolute; /* Mengatur posisi elemen absolut */
    top: 50%; /* Mengatur posisi vertikal pada elemen */
    left: 50%; /* Mengatur posisi horizontal pada elemen */
    transform: translate(-50%, -50%); /* Mengatur posisi pada elemen */
    opacity: 0; /* Mengatur ke transparansi pada elemen */
    visibility: hidden; /* Mengatur ke tampilan elemen */
    transition: .3s ease; /* Mengatur efek transisi pada elemen */
}

/* Mengatur tampilan elemen dalam elemen product-layer */
.product-layer a {
    text-decoration: none; /* Mengatur tampilan elemen tanpa garis bawah */
    color: #252020; /* Mengatur warna teks pada elemen */
}


