/* General styling for product section */
.product {
    background-color: white;
    padding: 20px 20px 0px 20px;
    text-align: center;
    color: #6573f5;
}
/*style untuk tulisan h1 produk populer*/
.product h1{
    font-size: 30px;
}
/*style untuk edit bagian web commers dan study */
.sub-product {
    background-color: #6573f5;
    padding: 20px 20px 50px 20px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
/*bagian untuk mengedit tulisan commers dan study*/
.sub-product h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling untuk bagain product boxes */
.product-box {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 10px 10px 10px 10px;
}
/*bagian untuk mengatur img*/
.product-box img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px;
}

/* Styling untuk mengatur responsif saat kursor di arahkan ke img */
.product-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
}
/*styling bagian saat kursor di arahkan ke gambar product*/
.product-box:hover .product-layer {
    opacity: 1;
}
/*style untuk mengatur ikon tampilkan product*/
.product-layer a {
    color: white;
    font-size: 24px;
}

/* style untuk mengatur masing-masing bagian dari product */
.product-container,
.product-container2 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
/*style untuk menatur posisi img dari masing-masing product*/
.study, .commers{
    display: flex;
}

